<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nefu.myspringboot.mapper.ScheduleMapper">

    <select id="list" resultType="com.nefu.myspringboot.dto.LaboratoryDTO">
       select s.lab_id,s.week,s.day,s.section,s.state,c.*,l.*
        from schedule s  inner join course c on s.cid =c.id inner join laboratory l on l.number=s.lab_id
    </select>
    <select id="state" resultType="com.nefu.myspringboot.entity.Schedule">
       select s.state
        from schedule s  where s.lab_id=#{labId} and s.week=#{week} and s.day=#{day} and s.section=#{section}
    </select>
</mapper>