<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nefu.myspringboot.mapper.ScheduleCourseMapper">
    <resultMap id="labDTOResultMap" type="com.nefu.myspringboot.dto.LaboratoryDTO">
        <!-- 关联查询时，必须显式声明映射，automapping无效 -->
        <id column="number" property="number"/>
        <id column="computer_number" property="computerNumber"/>
        <!-- ofType，声明集合中元素类型；自动去掉前缀映射；无需声明集合类型 -->
        <collection property="schedule"
                    columnPrefix="s_"
                    ofType="com.nefu.myspringboot.entity.ScheduleCourse"
                    autoMapping="true">
        </collection>
    </resultMap>
    <select id="listCourses" resultMap="labDTOResultMap">
       select l.*,
       s.lab_id s_lab_id,
        s.cid s_cid,
        s.week s_week,
        s.day  s_day,
        s.section  s_section,
        s.state s_state,
        s.name s_name,
        s.teacher_id s_teacher_id
        from   laboratory l  join  schedule_course s on l.number=s.lab_id
    </select>
    <select id="state" resultType="_int">
       select s.state
        from schedule_course s  where s.lab_id=#{labId} and s.week=#{week} and s.day=#{day} and s.section=#{section}
    </select>
    <update id="updateSchedule" >
       update  schedule_course s
       set s.state=#{state},s.teacher_id=#{teacherId},s.name=#{name}
       where s.lab_id=#{labId} and s.week=#{week} and s.day=#{day} and s.section=#{section}
    </update>
</mapper>